.card-wrapper {
  margin: 1.6em;
  width: 17em;
  height: 20em;
  background: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 0;
}

.card-wrapper:hover {
  transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 0.65em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0.65em rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0.65em rgba(0, 0, 0, 0.5);
}

/* corner github ribbon */
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #fca311;
  background-image: -webkit-linear-gradient(top, #fca311, #fcb33c);
  background-image: -moz-linear-gradient(top, #fca311, #fcb33c);
  background-image: -ms-linear-gradient(top, #fca311, #fcb33c);
  background-image: -o-linear-gradient(top, #fca311, #fcb33c);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.ribbon:before,
.ribbon:after {
  content: "";
  border-top: 3px solid #fca311;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}

.ribbon a {
  text-decoration: none;
  color: #222222;
  padding: 8px;
}

/* project card content */

.thumbnail-img img {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.project-content {
  text-align: center;
  color: #404040;
}

.project-title {
  margin: 0.5em 0;
  font-family: "Arvo", serif;
  font-size: 1.3em;
}

.project-info {
  font-size: 0.9rem;
  margin: 0.5em;
  min-height: 4.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* project card buttons */
.btn {
  text-decoration: none;
  padding: 0.4em 0.5em;
  margin: 0.6em;
  border-radius: 0.2em;
}

.btn-dark {
  color: #ffffff;
  background-color: #4c69e9;
}

.btn-dark:hover {
  background-color: #6330de;
  transition: all 0.3s ease-in;
}

.project-labels {
  font-size: 0.8rem;
  color: #404040;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  margin: 0.3em;
}

.project-labels span {
  text-align: center;
  margin: 0 0.2em;
  padding: 0.25em 0.3em;
  border-radius: 0.4em;
  background-color: rgba(76, 105, 233, 0.15);
}
