.about-container {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding: 1.5em 0;
}

.about-container p a {
  color: inherit;
  text-decoration: underline;
  color: #6330de;
}

.about-container p a:hover {
  font-weight: 600;
}
.about-container li {
  color: #6330de;
}
.about-container li a {
  color: #6330de;
}

.about-container li a:hover {
  text-decoration: underline;
}
.skills {
  font-size: 1.3em;
  line-height: 2;
}
.skills p {
  margin: 0 0.5em;
  display: inline-block;
}
.skills .fa-icon,
.img-icon {
  margin: 0 0.3em;
}
.img-icon img {
  height: 20.47px;
  width: 20.47px;
  line-height: 1.5;
}
.html-icon {
  color: #e34f26;
}
.css-icon {
  color: #0077b5;
}
.bootstrap-icon {
  color: #222222;
}
.js-icon {
  color: #ebd00b;
}
.react-icon {
  color: #00d8ff;
}
.certifications {
  margin-top: 0.8rem;
}
