.contact-container {
  padding: 1.5em 0;
}
.contact-msg {
  font-size: 1.8em;
  margin: 1.5em 0;
  color: #454545;
}
.email-container {
  box-shadow: 0 0 0.2em 0.02em #6330de;
  border-radius: 0.5em;
  width: 23em;
  margin: 0 auto;
  position: relative;
  padding: 1.8em 1em;
}
.copy-btn {
  position: absolute;
  right: 2px;
  top: 1px;
  background: transparent;
  border: none;
  color: #6330de;
  cursor: pointer;
  transition: all 0.8s ease-in;
}
.copy-btn span {
  margin-right: 0.3rem;
  font-size: 0.8em;
}
.contact-email {
  font-size: 1.5em;
  /* padding: 1.2em 1em; */
  color: #6330de;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}
.contact-icon {
  background-color: rgba(99, 48, 222, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 1em;
  font-size: 1.5em;
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  box-shadow: 0 0 0.3em 0 rgba(99, 48, 222, 0.5),
    inset 0 0 0.1em 0 rgba(99, 48, 222, 0.6);
}
.contact-icon:hover {
  background-color: #ffffff;
  transition: all 0.2s ease-in;
}
.twitter-icon {
  color: #1da1f2;
}
.linkedin-icon {
  color: #0073b1;
}
.facebook-icon {
  color: #3b5998;
}
