.header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-family: "Concert One", cursive;
}

.headroom--pinned {
  background: linear-gradient(90deg, rgb(99, 48, 222), rgb(76, 105, 233));
}

.navbar {
  flex: 1;
  display: flex;
  align-items: center;
}
.nav-links {
  margin-left: auto;
  margin-right: 1em;
}

.nav-links a {
  margin: 0 0.8em;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.4em 0.4em 0.7em 0.4em;
}

.nav-links a:focus,
.nav-links a:hover {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.nav-links a:active {
  color: #a5f510;
}

.logo {
  margin: 0 0.8rem;
}

.logo-text {
  margin: 0;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar .fa-github {
  font-size: 2rem;
}

.nav-links .github-profile {
  border-radius: 0.2em;
  border: 2px solid #ffffff;
}
@media (max-width: 767px) {
  .logo-text {
    display: none;
  }
}

@media (max-width: 582px) {
  .nav-links {
    margin: auto;
  }
  .nav-links a {
    margin: 0.3em;
    padding: 0.4em;
  }
}
@media (max-width: 582px) {
  .github-profile {
    display: none;
  }
}
